---
layout: default
featured:
 - icon: fab fa-pagelines
   description: 
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae soluta nostrum quis ab officiis corrupti rem natus, omnis iste placeat esse nisi consequatur harum repellendus dolore. Sed, ut eos?
 - icon: fas fa-cloud
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, autem ad? Impedit nostrum quaerat pariatur nihil repellendus deleniti nisi quas reiciendis dolorum ratione ducimus modi debitis delectus iure suscipit nobis.
 - icon: fas fa-apple-alt
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, hic minima. Impedit dolor enim modi debitis ducimus exercitationem vel quam similique corrupti asperiores explicabo, quibusdam officiis provident ea? Quisquam, repudiandae. 
 - icon: fas fa-lemon
   description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, facere? Magni dolor neque praesentium et fuga pariatur, cupiditate delectus tempore magnam voluptatum iste adipisci natus est quos inventore unde cumque?
---


<!--------------------------- Header Banner ------------------------------------------->
    <header class="banner grid tall-100 md-tall-80">

        {% include header-nav.html %}

        <div class="col-12 text-center">
            <h3 class="font-weight-extra-bold editable">
                <span class="featured-text"> sleep</span> like a puppy
            </h3>
            <h1 class="font-weight-light editable">
                the ultimate mattress solution
            </h1> 
        </div>
    </header>

    
    <!-------------------------- Gallery / about Section --.------------------------------>
    <section class="grid">
        <div class="padded col-6_xs-12-middle">
            <h2 class="editable">
                built to last a <span class="featured-text">lifetime</span>
            </h2>
            <p class="editable">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae similique recusandae veniam porro ullam, distinctio enim quis ipsa totam optio repellat et asperiores consequuntur ut placeat suscipit minus eaque vel.
            </p>
            <p class="editable">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam atque doloribus vero, beatae asperiores itaque in repudiandae id dolorum provident hic dicta quas voluptatem sit laboriosam suscipit! Fuga, porro?
            </p> 
        </div>
        <div class="bg-image bg-bed col-6_xs-12 tall-70 hide-xs">
            <!-- background image bed -->
        </div>
        <div class="bg-image bg-pug col-6_xs-12 tall-70">
            <!-- background image pug sleeping -->
        </div>
        <div class="padded col-6_xs-12-middle editable">
            <h2>so <span class="featured-text">soft</span> you'll melt</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae similique recusandae veniam porro ullam, distinctio enim quis ipsa totam optio repellat et asperiores <a target="_blank" rel="noopener" href="https://www.google.com">google</a> ut placeat suscipit minus eaque vel.</p>
        </div>
    </section>

    <!-------------------------- Feature icon grid -------------------------->
    <section class="padded grid-center bg-dark">
        <div class="padded-sm col-12 text-center">
            <h2 class="editable">
                <span class="featured-text">features</span> you will love
            </h2>
        </div>

        {% for item in page.featured %}
        <div class="padded-sm col-3_sm-6 xxs-stack">
            <i class="{{item.icon}}"></i>
            <p class="editable"> {{item.description}} </p> 
        </div>
        {% endfor %}
        
    </section>

    <!-------------------------- Image banner ----------------------------->
    <section class="padded text-center bg-pillow tall-70 grid bg-image"> 
        <div class="col-12-middle">
            <h3 class="big-text editable">
                <span class="small-text font-weight-normal">never underestimate the power of</span><br />a good night <span class="white-text">sleep</span>
            </h3>
        </div>
    </section>

    <!-------------------------- Testimonial section ----------------------------->
    <section class="padded-lg grid"> 
        <div class="col-1 text-right">
            <span class="quote-icon">“</span> 
        </div>
        <div class="col-10 text-center">
            <p class="medium-text font-weight-light editable">
                I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of my family.
            </p>
            <p class="subtitle editable">
                - A very happy customer
            </p> 
        </div>
        <div class="col-1">
            <span class="quote-icon">"</span>
        </div>
    </section>