<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
        <h2 class="editable">
            let's<br /><span class="featured-text">connect</span>
        </h2>
        <p class="editable">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore facere velit, neque delectus nostrum saepe
            accusamus aliquid ullam! Molestiae officia corrupti quam possimus quos quibusdam voluptates porro nemo
            aliquam quidem?
        </p>
    </div>
    <div class="col-5-bottom">
        <p class="editable">
            <strong>Call:</strong> <a href="tel:#"> 04555 5555 </a>
        </p>
        <p class="editable">
            <strong>Email:</strong> <a hello="" href="mailto:#">hello@thesleep.co</a>
        </p>
        <p class="editable">
            <strong>Store:</strong> 55 Main St, Chicago
        </p>
        <p class="editable">
            <strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco">@thesleepco</a>
        </p>
    </div>
</footer>